In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('METER_ML_train_downsampled.csv')
labels = ["CAFOs","Landfills","Mines","Negative","ProcessingPlants","RefineriesAndTerminals","WWTreatment"]

df_2000 = pd.DataFrame()

for label in labels:
    df_label = df[df["Type"] == label]
    df_label = df_label.head(2000)
    df_2000 = pd.concat([df_2000, df_label], ignore_index=True)

df_2000

                                            Image_Folder         Type
0      samples/train_images/37.4846615524_-120.911345...        CAFOs
1          samples/train_images/44.156046_-95.944686.png        CAFOs
2      samples/train_images/34.97102787_-77.83076532.png        CAFOs
3       samples/train_images/43.5597697_-92.60627194.png        CAFOs
4          samples/train_images/31.761336_-85.693611.png        CAFOs
...                                                  ...          ...
13531           samples/train_images/33.522_-112.296.png  WWTreatment
13532            samples/train_images/29.196_-81.008.png  WWTreatment
13533             samples/train_images/33.18_-79.978.png  WWTreatment
13534            samples/train_images/32.578_-87.684.png  WWTreatment
13535            samples/train_images/44.416_-85.411.png  WWTreatment

[13536 rows x 2 columns]

In [14]:
pp_aug = pd.read_csv('save/pp.csv')
pp_aug = pp_aug.head(170)


mines_aug = pd.read_csv('save/mines.csv')
mines_aug = mines_aug.head(294)

df_2000 = pd.concat([df_2000, pp_aug, mines_aug], ignore_index=True)
df_2000 = df_2000.drop('Unnamed: 0', axis=1)  # axis=1 specifies that we are dropping a column

df_2000

                                            Image_Folder   Type
0      samples/train_images/37.4846615524_-120.911345...  CAFOs
1          samples/train_images/44.156046_-95.944686.png  CAFOs
2      samples/train_images/34.97102787_-77.83076532.png  CAFOs
3       samples/train_images/43.5597697_-92.60627194.png  CAFOs
4          samples/train_images/31.761336_-85.693611.png  CAFOs
...                                                  ...    ...
13995                          augmented_final/16727.png  Mines
13996                          augmented_final/16728.png  Mines
13997                          augmented_final/16729.png  Mines
13998                          augmented_final/16730.png  Mines
13999                          augmented_final/16731.png  Mines

[14000 rows x 2 columns]

In [15]:
mapping = {
    "CAFOs": [1, 0, 0, 0, 0, 0, 0],
    "Landfills": [0, 1, 0, 0, 0, 0, 0],
    "Mines": [0, 0, 1, 0, 0, 0, 0],
    "Negative": [0, 0, 0, 1, 0, 0, 0],
    "ProcessingPlants": [0, 0, 0, 0, 1, 0, 0],
    "RefineriesAndTerminals": [0, 0, 0, 0, 0, 1, 0],
    "WWTreatment": [0, 0, 0, 0, 0, 0, 1]
}

In [16]:
# Assuming 'df' is your existing DataFrame
df_2000['Label'] = df_2000['Type'].apply(lambda x: mapping[x])
df_2000 = df_2000.drop("Type", axis=1)
df_2000

,Image_Folder,Label
0,samples/train_images/37.4846615524_-120.911345...,"[1, 0, 0, 0, 0, 0, 0]"
1,samples/train_images/44.156046_-95.944686.png,"[1, 0, 0, 0, 0, 0, 0]"
2,samples/train_images/34.97102787_-77.83076532.png,"[1, 0, 0, 0, 0, 0, 0]"
3,samples/train_images/43.5597697_-92.60627194.png,"[1, 0, 0, 0, 0, 0, 0]"
4,samples/train_images/31.761336_-85.693611.png,"[1, 0, 0, 0, 0, 0, 0]"
...,...,...
13995,augmented_final/16727.png,"[0, 0, 1, 0, 0, 0, 0]"
13996,augmented_final/16728.png,"[0, 0, 1, 0, 0, 0, 0]"
13997,augmented_final/16729.png,"[0, 0, 1, 0, 0, 0, 0]"
13998,augmented_final/16730.png,"[0, 0, 1, 0, 0, 0, 0]"
13999,augmented_final/16731.png,"[0, 0, 1, 0, 0, 0, 0]"

In [17]:
df_2000.to_csv('FINAL_METER_ML_train_2000.csv', index=False)